<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripplanner">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".members.view.MembersListActivity"
            android:label="@string/members" />
        <activity
            android:name=".trip.view.TripsListActivity"
            android:label="@string/trips" />
        <activity
            android:name=".members.view.AddMembersActivity"
            android:label="@string/add_member" />
        <activity
            android:name=".trip.view.AddTripActivity"
            android:label="@string/add_a_trip" />
        <activity android:name=".mainscreen.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>